<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Amigo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img
      src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
    />
    <ion-label>Nome</ion-label>
  </ion-avatar>
  <h1>DESCRICAO:</h1>
  <p>
    Porque as pessoas loucas o bastante para acreditar que podem mudar o mundo,
    são as que o mudam.
  </p>
  <h1>MEUS AMIGOS</h1>
</ion-content>
