ion-menu-button {
  color: white;
}

ion-content {
  --ion-background-color: #101010;
}

ion-header {
  --ion-background-color: black;
}

ion-title {
  color: white;
  font-size: 30px;
}

ion-item {
  --ion-background-color: #101010;
  color: white;
  border: 1px solid;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 1px;
  padding: 5px;
  box-shadow: 1px 1px gray;
}

ion-icon {
  font-size: 35px;
  color: white;
}

ion-avatar {
  margin-left: 135px;
  width: 150px;
  height: 150px;
}

ion-label {
  text-align: center;
  font-size: 25px;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 100px;
}

p {
  text-align: center;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
