<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/amigos"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ amigos?.nomePerfil }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img src="{{ amigos?.imagemPerfil }}" />
    <ion-label text-wrap>
      <p>Perfil de {{ amigos?.tipoUsuario }}</p>
      <h1>DESCRICAO:</h1>
      <p>{{ amigos?.descricaoPerfil }}</p>
    </ion-label>
  </ion-item>
  <h1>Imagem de Destaque</h1>
  <img src="{{ amigos?.destaquePerfil }}" />
  <ion-item *ngFor="let jogo of jogos | slice:0:1;">
    <ion-icon name="md-game-controller-a"></ion-icon>
    <h1 *ngIf="!jogos.deleted">Jogos deste Desenvolvedor</h1>
  </ion-item>
  <ion-list *ngFor="let jogo of jogos">
    <ion-item text-wrap [routerLink]="['/pagina-jogo', jogo.idJogo]">
      <img src="{{ jogo.imagem1 }}" />
      <ion-label text-wrap>
        <p>{{ jogo.tituloJogo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
