<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Configuraçoes
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item routerLink="/sobre">
		<ion-icon name="alert"></ion-icon>
		<label>Sobre</label>
	</ion-item>

	<ion-item routerLink="/politica">
		<ion-icon name="md-book"></ion-icon>
		<label>Politicas de Privacidade</label>
	</ion-item>

	<ion-item routerLink="/regras">
		<ion-icon name="md-bookmarks"></ion-icon>
		<label>Regras</label>
	</ion-item>

	<ion-item routerLink="/faleconosco">
		<ion-icon name="chatboxes"></ion-icon>
		<label>Fale Conosco</label>
	</ion-item>

	<ion-item routerLink="/tela-login">
		<ion-icon name="md-close-circle"></ion-icon>
		<label>Sair</label>
	</ion-item>
</ion-content>