<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>

  <ion-label style="text-align: center">Nome</ion-label><br>
  
  <label class="des" style="text-align: center">DESCRICAO:</label>
  
  <p>Porque as pessoas loucas o bastante para acreditar que podem mudar o mundo, 
  são as que o mudam.</p>


</ion-content>
