ion-menu-button {
  color: white;
}

ion-content {
  --ion-background-color: #101010;
}

ion-header {
  --ion-background-color: black;
}

ion-title {
  color: white;
  font-size: 30px;
}

ion-item {
  --ion-background-color: #101010;
  color: white;
  border: 1px solid;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 1px;
  padding: 5px;
  box-shadow: 1px 1px gray;
}

ion-icon {
  font-size: 35px;
  color: white;
}

ion-avatar {
  margin: auto;
  width: 150px;
  height: 150px;
}

label {
  font-size: 25px;
  color: white;
  display: flex;
  margin: auto;
}

.ion-text-center {
  text-align: center;
}

.nome {
  text-align: center;
  font-size: 30px;
  color: white;
}

.des {
  text-align: center;
  font-size: 20px;
  color: white;
}

p {
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.jogoI {
  width: 70px;
  height: 70px;
}
ion-card {
  --background: white;
}

ion-card-title {
  text-align: center;
}
