<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/img/hydra.png" alt="" />
  <h1>Sobre Nós</h1>
  <h2>Nosso missão:</h2>
  <p>
    É disponibilizar uma plataforma para desenvolvedores indies aonde possam
    divulgar seus jogos gratuitamente.
  </p>
  <h2>Nossa visão:</h2>
  <p>
    Ajudar no crescimento dos desenvolvedores indies e no mercado de jogos
    indies
  </p>
  <h2>Nossos valores:</h2>
  <p>
    São melhorias continuas na plataforma, Senso de oportunidades do mercado,
    Contribuição para os desenvolvedores indie, trabalho em equipe
  </p>
  <h2>Nosso publico-alvo:</h2>
  <p>
    Nós percebemos que atualmente esses desenvolvedores não são valorizados por
    outras plataforma e por falta da capacidade financeira acabam não
    conseguindo divulgar seus jogos para o publico.
  </p>
  <h2>A plataforma:</h2>
  <p>
    Nós projetamos uma plataforma que tanto facilitara o publica que busca por
    jogos indies, como também ira facilitar para o desenvolvedor indie para a
    publicação de seus jogos em nossa plataforma.
  </p>
  <h1>Versão: 3.0</h1>
  <br />
  <h1>
    Data Lançamento:<br />
    18/11/19
  </h1>
  <br />
  <p>
    Nossa equipe de desenvolvimento:<br />
    Victor Manuel<br />
    Ruan Silva<br />
    Pedro Emanuel<br />
    Matheus Laureano<br />
    Francisco Bruno<br />
  </p>
  <p>
    Desenvolvido por:<br />
    Dark Hydra Softworks
  </p>
  <a href="http://darkhydra.000webhostapp.com/">
    <p>WebSite</p>
  </a>
</ion-content>
