ion-menu-button{
  color: white;
}

ion-card-title{
  text-align: center;
  color: black;
}
  
ion-card-content label{
  color: white;
  display: block;
  text-align: center;
}

ion-content h1,h2{
  color:white;
  text-align: center;
  padding: 3px; 
}

ion-content p{
  color:white;
  text-align: center;
  font-size: 25px;
  padding: 5px; 
}

ion-content img{
  width: 800px;
  padding: 15px;
}
    
ion-content{
  --ion-background-color:#101010; 
}
  
ion-toolbar{
  --ion-background-color:black; 
}
  
ion-title{
  color: white;
  font-size: 30px;
}

a{
  text-decoration-color: white;
}
  
ion-fab{
  margin-bottom: 200px;
  margin-right: 170px;
}