@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

ion-back-button {
  --color: white;
}

ion-content {
  --ion-background-color: #101010;
}

ion-toolbar {
  --ion-background-color: black;
}

ion-title {
  color: white;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
p {
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  height: 200px;
  width: 370px;
}

ion-item img{
  height: 100px;
  width: 100px;
}

ion-label{
  color: white;
}

ion-label p{
  color: white;
}