<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/configuracoes"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Regras Gerais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>O que não fazer na plataforma:</h2>

  <h2>Usuário</h2>
  <p>-Gerar discussões exageradas ou insultar outros membros.</p>
  <p>-Publicar links para sites maliciosos.</p>
  <p>-Desrespeito aos desenvolvedores e gestores/administradores.</p>
  <p>-Utilização de contas falsas, para melhorar avaliações de jogos.</p>
  <p>-Spam desnecessário em comentários ou denuncias.</p>
  <p>
    -Tentativa de uso de imagens lascivas, ofensivas e desconfortantes no perfil
  </p>
  <p>-Descrições constrangedoras, ofensivas ou descriminatórias no perfil.</p>

  <h2>Desenvolvedor</h2>
  <h2>Enviar jogos que:</h2>
  <p>-Possua conteúdo malicioso</p>
  <p>-Possua conteúdo ofensivo, lascivo e que gere alguma discriminação</p>
  <p>-Imagens sejam desconfortantes ou que sejam falsas.</p>
  <p>-Não possuir licença do jogo.</p>
  <p>-Músicas sem direito autoral.</p>
  <p>-Algum tipo de falsidade, deste títulos á conteúdo jogável.</p>
  <p>
    -Ofender, discriminar ou qualquer tentativa de aproveitamento malicioso dos
    usuários.
  </p>
  <p>-Desrespeito aos usuários gestores/administradores</p>
  <p>
    -Tentativa de uso de imagens lascivas, ofensivas e desconfortantes no perfil
  </p>
  <p>-Descrições constrangedoras, ofensivas ou descriminatórias no perfil</p>

  <h2>O que não publicar/comentar</h2>
  <h2>Proibido publicar e comentar:</h2>
  <p>
    -Conteúdo ou link inapropriado, que possua algo ofensivo, constrangedor e
    lascivo.
  </p>
  <p>
    -Uso de ferramentas, para aproveitamento inapropriado dos recursos da
    plataforma.
  </p>
  <p>-Ameaças de violência ou assédio.</p>
  <p>-Publicação de material protegido por direitos autorais.</p>
  <p>-Solicitações, pedidos de presentes, leilões, vendas, propagandas.</p>
  <p>-Racismo ou qualquer outro tipo de discriminação.</p>
  <p>-Linguagem ofensiva.</p>
  <p>
    -Religião, política ou outros assuntos que causem discussões que não levam a
    lugar algum.
  </p>
  <h2>
    Tudo citado acima, gerará consequências, deste suspensão á banimento via ip.
  </h2>
</ion-content>
