<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Regras
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

<h2>Regras</h2>
<p>
*O que não fazer na plataforma:*

.Usuário
    -Gerar discussões exageradas ou insultar outros membros.
    -Publicar links para sites maliciosos.
    -Desrespeito aos desenvolvedores e gestores/administradores.
    -Utilização de contas falsas, para melhorar avaliações de jogos.
    -Spam desnecessário em comentários ou denuncias.
    -Tentativa de uso de imagens lascivas, ofensivas e desconfortantes no perfil
    -Descrições constrangedoras, ofensivas ou descriminatórias no perfil.

.Desenvolvedor  
    -Enviar jogos que:
	-Possua conteúdo malicioso.
	-Possua conteúdo ofensivo, lascivo e que gere alguma discriminação.
	-Imagens sejam desconfortantes ou que sejam falsas.
	-Não possuir licença do jogo.
	-Músicas sem direito autoral.
	-Algum tipo de falsidade, deste títulos á conteúdo jogável.
    -Ofender, discriminar ou qualquer tentativa de aproveitamento malicioso dos usuários.
    -Desrespeito aos usuários gestores/administradores.
    -Tentativa de uso de imagens lascivas, ofensivas e desconfortantes no perfil
    -Descrições constrangedoras, ofensivas ou descriminatórias no perfil.

*O que não publicar/comentar*

Proibido publicar e comentar:

    -Conteúdo ou link inapropriado, que possua algo ofensivo, constrangedor e lascivo.
    -Uso de ferramentas, para aproveitamento inapropriado dos recursos da plataforma.
    -Ameaças de violência ou assédio.
    -Publicação de material protegido por direitos autorais.
    -Solicitações, pedidos de presentes, leilões, vendas, propagandas.
    -Racismo ou qualquer outro tipo de discriminação.
    -Linguagem ofensiva.
    -Religião, política ou outros assuntos que causem discussões que não levam a lugar algum.

Tudo citado acima, gerará consequências, deste suspensão á banimento via ip.
</p>
<h2>Regras gerais:</h2>
<p>
O que não fazer:

.Usuário
    -Gerar discussões exageradas ou insultar outros membros
    -Abusar ou encorajar o abuso do sistema de denúncia de mensagens
    -Publicar links para sites de phishing
    -Gerar descução desnecessária e/ou ofender um gestor/administrador
    -Utilização de contas falsas, para melhorar avaliações de jogos.
    -Spam desnecessário em comentários ou denuncias

Regras de conteúdo

Proibido publicar e comentar:

    Conteúdo inapropriado, como gore e pornográfia.
    Trapaças, hacks e informações sobre bugs em jogos para vantagem própria (exploits).
    Ameaças de violência ou assédio, mesmo de brincadeira.
    Publicação de material protegido por direitos autorais.
    Solicitações, pedidos de presentes, leilões, vendas, propagandas.
    Racismo ou qualquer outro tipo de discriminação.
    Linguagem ofensiva, incluindo o uso de frases chulas.
    Religião, política ou outros assuntos que causem discussões que não levam a lugar algum.

Tudo citado acima gerará consequências, deste suspensão á banimento via ip.
</p>
</ion-content>
