@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

ion-menu-button {
  color: white;
}

ion-content {
  --ion-background-color: #101010;
}

ion-toolbar {
  --ion-background-color: black;
}

ion-searchbar {
  --placeholder-color: black;
  --icon-color: black;
  --color: black;
  --cancel-button-color: black;
  --background: white;
}

ion-title {
  color: white;
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
}

ion-refresher {
  background: white;
}

ion-item img {
  width: 150px;
  height: 100px;
}

ion-item {
  color: white;
  margin-bottom: 5px;
  margin-top: 2px;
}

ion-label p {
  margin-left: 10px;
  color: white;
  padding: 5px;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}
