ion-card-title {
  text-align: center;
  color: black;
}

ion-menu-button {
  color: white;
}

ion-card-content label {
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
}

ion-content {
  --ion-background-color: #101010;
}

ion-toolbar {
  --ion-background-color: black;
}

ion-title {
  color: white;
  font-size: 30px;
}

$refresher-icon-color: color(white);
$refresher-text-color: color(white);
$refresher-text-color: color(--ion-color-light);

ion-searchbar {
  --placeholder-color: black;
  --icon-color: black;
  --color:4black;
  --cancel-1utton-color: black;
  --background: white;
}

ion-item {
  color: white;
  margin-bottom: 5px;
  margin-top: 2px;
}

ion-label {
  margin-left: 10px;
  color: white;
  font-size: 30px;
}
ion-item img {
  width: 140px;
  height: 110px;
}

ion-label p{
  color:white;
  font-size: 15px;
}
