ion-card-title {
  text-align: center;
  color: black;
}

ion-menu-button {
  color: white;
}

ion-card-content label {
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
}

ion-content {
  --ion-background-color: #101010;
}

ion-toolbar {
  --ion-background-color: black;
}

ion-title {
  color: white;
  font-size: 30px;
}
/*
 ! AINDA TENTANDO IMPLEMENTAR O REFRESHER TENTANDO TROCAR A COR NELE
ion-refresher{
  background: #101010;
}

.refresher-pulling-text,.refresher-refreshing-text{
  color: white;
}

.refresher-refreshing {
  color: white;
}

.ionic-refresher-content {
  color: white;
}
*/

$refresher-icon-color: color(white);
$refresher-text-color: color(white);
$refresher-text-color: color(--ion-color-light);

ion-searchbar {
  --placeholder-color: black;
  --icon-color: black;
  --color:4black;
  --cancel-1utton-color: black;
  --background: white;
}

ion-item {
  color: white;
  margin-bottom: 5px;
  margin-top: 2px;
}

ion-label {
  margin-left: 10px;
  color: white;
  font-size: 30px;
}
ion-item img {
  width: 100px;
  height: 150px;
}
