ion-tabs{
    background-color: black;
    background: black;
    color:black;
}

ion-tab-bar{
    background-color: black;
    background: black;
    color:black;
}

ion-tab-button{
    background-color: black;
    background: black;
    color:white; 
}