ion-toolbar{
    --ion-background-color:black; 
}

ion-title{
    color: white;
    
}

ion-content{
    --ion-background-color:green;    
}

ion-item{
    color:white;
    font-size: 23px;
}

p{
 color:white;
 font-size: 15px;
 margin-top: 385px;
 margin-left: 5px;  
}

ion-icon{
    color: white;
}