@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

ion-menu-button {
  color: white;
}

ion-content {
  --ion-background-color: #101010;
}

ion-toolbar {
  --ion-background-color: black;
}

ion-title {
  color: white;
  font-size: 24px;
  font-family: "Titillium Web", sans-serif;
}

p {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Titillium Web", sans-serif;
}

h2 {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Titillium Web", sans-serif;
}
