<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Conta
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item routerLink="/perfil">
			<ion-icon name="ios-contact"></ion-icon>
			<label>Perfil</label>
		</ion-item>

		<ion-item routerLink="/amigos">
			<ion-icon name="ios-contacts"></ion-icon>
			<label>Amigo</label>
		</ion-item>

		<ion-item routerLink="/seguindo">
			<ion-icon name="ios-contacts"></ion-icon>
			<label>Seguindo</label>
		</ion-item>

		<ion-item routerLink="/biblioteca">
			<ion-icon name="folder"></ion-icon>
			<label>Biblioteca</label>
		</ion-item>

		<ion-item routerLink="/tela-login">
			<ion-icon name="exit"></ion-icon>
			<label>Sair</label>
		</ion-item>
	</ion-list>
</ion-content>